<!DOCTYPE html>

<html  xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head th:include="common::common" >
</head>
<!--<link href="http://cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">-->
<link th:href="@{/tree/css/font-awesome.min.css}" rel="stylesheet">
<link rel="stylesheet" type="text/css" th:href="@{/tree/css/htmleaf-demo.css}">
<link rel="stylesheet" th:href="@{/tree/assets/css/jquery.mCustomScrollbar.min.css}" />
<link rel="stylesheet" th:href="@{/tree/assets/css/custom.css}">
<script th:src="@{/tree/assets/js/jquery.mCustomScrollbar.concat.min.js}"></script>
<script th:src="@{/tree/assets/js/custom.js}"></script>
<style>
    .item{
        height:100vh;
        background-color: #2b542c;
    }
    .embed-responsive{
        height:100vh;
    }
</style>

<body>
<div class="page-wrapper">
    <div class="embed-responsive">
        <iframe class="embed-responsive-item" id="location" ></iframe>
    </div>

    <nav id="sidebar" class="sidebar-wrapper">
        <div class="sidebar-content">
            <a href="#" id="toggle-sidebar"><i class="fa fa-bars"></i></a>
            <div class="sidebar-brand">
                <a href="#">宝岛眼镜</a>
            </div>
            <div class="sidebar-header">
                <div class="user-pic">
                    <img class="img-responsive img-rounded" th:src="@{/tree/assets/img/user.jpg}" alt="">
                </div>
                <div class="user-info">
                    <span class="user-name"> <strong>董洁</strong></span>
                    <span class="user-role">管理员</span>
                    <div class="user-status">
                        <a href="#"><span class="label label-success">Online</span></a>
                    </div>
                </div>
            </div><!-- sidebar-header  -->
            <!-- sidebar-search  -->
            <div class="sidebar-menu">
                <ul>
                    <li class="header-menu"><span>功能菜单</span></li>
                    <li class="sidebar-dropdown">
                        <a  href="#" ><i class="fa fa-tv"></i><span>会员管理</span></a>
                        <div class="sidebar-submenu">
                            <ul>
                                <li><a class="menuitem" href="javascript:;" _href="/user">会员消费</a> </li>
                            </ul>
                        </div>
                    </li>
                </ul>
            </div><!-- sidebar-menu  -->
        </div><!-- sidebar-content  -->
    </nav><!-- sidebar-wrapper  -->

</div><!-- page-wrapper -->
<script>
    $(".menuitem").each(function (i) {
        $(this).click(function (e) {
            var _href =  $(this).attr("_href");
            $("#location").attr("src",_href);
            $("#toggle-sidebar").click();
        })
    })
</script>
</body>
</html>