<!DOCTYPE html>

<html  xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head th:include="common::common" >
</head>
<!--<link href="http://cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">-->
<link th:href="@{/tree/css/font-awesome.min.css}" rel="stylesheet">
<link rel="stylesheet" type="text/css" th:href="@{/tree/css/htmleaf-demo.css}">
<link rel="stylesheet" th:href="@{/tree/assets/css/jquery.mCustomScrollbar.min.css}" />
<link rel="stylesheet" th:href="@{/tree/assets/css/custom.css}">
<script th:src="@{/tree/assets/js/jquery.mCustomScrollbar.concat.min.js}"></script>
<script th:src="@{/tree/assets/js/custom.js}"></script>
<body>
<div class="page-wrapper">
    <nav id="sidebar" class="sidebar-wrapper">
        <div class="sidebar-content">
            <a href="#" id="toggle-sidebar"><i class="fa fa-bars"></i></a>
            <div class="sidebar-brand">
                <a href="#">pro sidebar</a>
            </div>
            <div class="sidebar-header">
                <div class="user-pic">
                    <img class="img-responsive img-rounded" th:src="@{/tree/assets/img/user.jpg}" alt="">
                </div>
                <div class="user-info">
                    <span class="user-name">Jhon <strong>Smith</strong></span>
                    <span class="user-role">Administrator</span>
                    <div class="user-status">
                        <a href="#"><span class="label label-success">Online</span></a>
                    </div>
                </div>
            </div><!-- sidebar-header  -->
          <!--  <div class="sidebar-search">
                <div>
                    <div class="input-group">
                        <input type="text" class="form-control search-menu" placeholder="Search for...">
                        <span class="input-group-addon"><i class="fa fa-search"></i></span>
                    </div>
                </div>
            </div>
            -->
            <!-- sidebar-search  -->
            <div class="sidebar-menu">
                <ul>
                    <li class="header-menu"><span>Dropdown  menu</span></li>
                    <li class="sidebar-dropdown">
                        <a  href="#" ><i class="fa fa-tv"></i><span>Menu 1</span><span class="label label-danger">New</span></a>
                        <div class="sidebar-submenu">
                            <ul>
                                <li><a href="/login">submenu 1 <span class="label label-success">10</span></a> </li>
                                <li><a href="#">submenu 2</a></li>
                                <li><a href="#">submenu 3</a></li>
                                <li><a href="#">submenu 4</a></li>
                            </ul>
                        </div>
                    </li>
                </ul>
            </div><!-- sidebar-menu  -->
        </div><!-- sidebar-content  -->
    </nav><!-- sidebar-wrapper  -->
    <main class="page-content">
        <div class="container-fluid" id="content">

        </div>
    </main><!-- page-content" -->
</div><!-- page-wrapper -->
</body>
</html>